@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(211, 211, 211, 0);
}

.head-content {
  font-size: 0.5rem;
  /* background: #002800; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #012d01;
}

.logo-text {
  color: #002800;
  margin-left: 1.9rem;
}

.search-bar input[type="text"] {
  outline: none;
  width: 100%;
  height: 85%;
  padding: 12px 23px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 6rem;
  background: rgba(211, 211, 211, 0.153);
  border-radius: 1rem;
}

.search-bar .search-icon {
  position: absolute;
  top: 10%;
  right: 29.8%;
  cursor: pointer;
  color: #002800ac;
}

.login span {
  font-weight: 500;
  margin-left: 0.2rem;
  cursor: pointer;
}

.sub-container {
  background-color: rgba(255, 182, 193, 0.379);
  width: 89%;
  height: 1005;
  margin-top: 2rem;
  margin-left: 4.5rem;
  border-radius: 0.4rem;
}

.container {
  display: flex;
  margin-top: 1.2rem;
  margin-left: 11rem;
  height: 100%;
  gap: 8rem;
}

.home-discount {
  margin-top: 3.9rem;
}

.home-discount h1 {
  color: #025402ef;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 40px;
}

.home-discount button {
  width: 27%;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.955);
  background-color: #045104;
  font-size: 0.6rem;
  padding: 0.6rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 1.7rem;
}

.home-image img {
  width: 43%;
}

.headphones-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2.3rem;
  margin-top: 3rem;
}

.content {
  margin-top: 1rem;
  padding: 0.2rem;
}

.content .price span {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.description h2 {
  font-size: 0.8rem;
  color: #002800;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.description p {
  font-size: 0.76rem;
  color: #002800;
  font-weight: 600;
  margin-top: 0.03rem;
}

.reviews {
  margin-top: 0.27rem;
}

.reviews span {
  font-size: 0.7rem;
  font-weight: 700;
}

.reviews .stars {
  color: #045104;
}

.description button {
  width: 40%;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.955);
  background-color: #045104;
  font-size: 0.6rem;
  padding: 0.6rem;
  border-radius: 1.4rem;
  cursor: pointer;
  margin-top: 0.6rem;
}

.headphones-container .Image-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1.4rem;
}

/* .headphones-container .Image-cards .image > img:hover {
    transition-timing-function: ease-in;
    transition: 0.5s;
    transform: translateY(-0.2rem);
} */

.headNews {
  margin-left: 2.2rem;
  /* margin-top: 2rem; */
}

.headNews h1 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 2rem;
  color: #022f02;
}

.headphones-container .Image-cards .image {
  width: 100%;
  height: 36vh;
  padding: 1rem;
  border-radius: 0.2rem;
  background: rgba(211, 211, 211, 0.22);
  overflow: hidden;
}

.headphones-container .Image-cards .image > img {
  width: 62%;
  margin: 0 auto;
}

/* checkout page */

.checkout-image {
  width: 130px;
  height: auto;
}

.checkout-image img {
  width: 100%;
  object-fit: cover;
  background: rgba(211, 211, 211, 0.518);
  padding: 1rem;
  border-radius: 0.1rem;
}

.stars {
  color: #045104;
  background-color: white;
}

.delete_btn button {
  padding: 0.5rem;
  color: white;
  background-color: #045104;
  font-size: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.delete_btn button .btn_delete {
  margin-top: 0.15rem;
}

/* login-page */
.logins {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-container {
  width: 350px;
  height: fit-content;
  padding: 1rem;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid lightgray;
}

.login-container > form > h5 {
  margin-bottom: 0.5rem;
}

.login-container > form input[type="text"],
.login-container > form input[type="password"] {
  height: 30px;
  margin-bottom: 1rem;
  background-color: white;
  width: 98%;
  border: 2px solid rgba(0, 0, 0, 0.837);
  outline: #002800;
  padding: 16px 8px;
}

.signInButton {
  background: #045104;
  border-radius: 0.4rem;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #002800 #045104 #002800dd;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

.registerButton {
  border-radius: 0.4rem;
  width: 100%;
  border: 1px solid;
  height: 30px;
  border-color: #002800;
  text-align: center;
}

.login-Text {
  font-size: 2rem;
  color: #045104;
  font-weight: bolder;
  margin-top: 2rem;
  margin-left: 36.8rem;
  object-fit: contain;
}

/* PAYMENT */

.payment {
  background-color: white;
}

.payment__container {
}

.payment__container > h1 {
  margin-right: 2.3rem;
  text-align: right;
  padding: 0.7rem;
  font-weight: 400;
  background-color: rgba(234, 237, 237, 0.183);
  border-bottom: 1px solid lightgray;
}

.payment__section {
  display: flex;
  padding: 1rem;
  margin: 0 0.8rem;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address {
  flex: 0.8;
}

.payment-items,
.payment__details {
  flex: 0.8;
}

/* footer */

.headservices {
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.headservices h1 {
  font-weight: 700;
  font-size: 1.3rem;
  color: #022f02;
}

.services {
  display: flex;
  padding: 2rem;
  margin-left: 3rem;
}

.services .frequent {
  /* margin-left: -3.4rem; */
}

.services .home {
  margin-right: -1.8rem;
}

.services .questions {
  width: 86%;
  padding: 0.8rem;
  height: 25vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgba(211, 211, 211, 0.342);
}

.services .questions p {
  color: #022f02;
}

.services .Online {
  width: 86%;
  padding: 0.8rem;
  height: 25.3vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgba(211, 211, 211, 0.286);
}

.services .Online p {
  color: #022f02;
}

.services .delivery {
  width: 86%;
  padding: 0.8rem;
  height: 25.5vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgba(211, 211, 211, 0.287);
}

.services .delivery p {
  color: #022f02;
}

.services .question-pic img {
  width: 86%;
  height: 40vh;
}

.services .online-image img {
  width: 86%;
  height: 40vh;
}

.services .home-image img {
  width: 86%;
  height: 40vh;
}

/* FOOTER */

footer {
  margin-top: 17rem;
}

.footer-container {
  background-color: #011701;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1.4rem;
}

.footer-container .logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer-info .info h1 {
  font-size: 1rem;
  font-weight: 700;
}

.footer-info .info p {
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

.footer-info .addressEmailcense {
  margin-top: 0.9rem;
}

.footer-info .addressEmailcense form input {
  width: 100%;
  padding: 0.6rem;
}

.footer-info .addressEmailcense .select-sex-button button {
  text-align: center;
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.6rem;
}

.footer-container .download-offers {
  font-weight: 700;
}

.subfooter-container {
  background: #001000;
  height: 0%;
}

.subfooter-container .box-container {
  display: flex;
  justify-content: space-between;
  padding: 3.7rem;
  color: white;
}

.subfooter-container .box-container .box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subfooter-container .box-container .box .logo-icon {
  display: flex;
  gap: 1rem;
}

.subfooter-container .box-container .box .logo-icon a {
  font-size: 1.2rem;
}

.copyright .credit {
  text-align: center;
  color: white;
  margin-top: 3.5rem;
  /* padding: 2rem; */
}
/** --END OF FOOTER-- **/

/* Details */

.details-container {
  gap: 11rem;
  margin-top: 2.5rem;
}

.details-container .buds-image {
  image-rendering: pixelated;
  width: 420px;
  height: auto;
}

.details-container .buds-image img {
  width: 100%;
  object-fit: cover;
  background: rgba(211, 211, 211, 0.248);
  padding: 2rem;
  border-radius: 0.1rem;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.details-container .review {
  border-bottom: 0.5px solid rgba(193, 186, 186, 0.509);
  padding-bottom: 0.5rem;
}

.details h1 {
  color: #045104;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

.pricing-discount {
  position: relative;
  top: 5%;
  border-bottom: 0.5px solid rgba(193, 186, 186, 0.509);
  padding-bottom: 2rem;
}

.counters {
  margin-top: 4.7rem;
}

.counters p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.738);
}

.counters p span {
  color: orange;
}

.counters .counts {
  background: rgba(218, 215, 215, 0.492);
  padding: 0.7rem;
  gap: 3rem;
  font-size: 1rem;
  border-radius: 20rem;
}

.addtocart {
  margin-top: 2rem;
  margin-left: 0.1rem;
  gap: 1.8rem;
}

.addtocart .purchase button {
  color: white;
  background: #012801;
  padding: 0.7rem;
  text-align: center;
  font-size: 0.8rem;
  width: 10.5rem;
  border-radius: 20rem;
}

.addtocart .addcart button {
  background: white;
  color: #002800;
  padding: 0.7rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  width: 10rem;
  border-radius: 20rem;
  border: 1px solid #002800;
}
