@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */

.logo {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffffff4;
}

.header_searchicon {
    width: 8%;
    padding: 7px;
    text-align: center;
    font-size: 2.2rem;
    background-color: rgb(255, 165, 0);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.header__searchInput {
    width: 80%;
    padding: 0.3rem;
    margin-left: 2.6rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    text-align:left;
}
