@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.head-content {
    font-size: 0.5rem;
    /* background: #002800; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #045104;
}  

.logo-text {
    color: #002800;
}

.search-bar input[type=text] {
    outline: none;
    width: 100%;
    height: 85%;
    padding: 12px 23px;
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 6rem;
    background: rgba(211, 211, 211, 0.153);
    border-radius: 1rem;
}

.search-bar .search-icon {
    position: absolute;
    top: 8.5%;
    right: 30%;
    cursor: pointer;
    color: #002800ac;
}

.login span {
    font-weight: 600;
    margin-left: 0.2rem;
    margin-top: -0.40rem;
    cursor: pointer;
}

.sub-container {
    background-color: rgba(255, 182, 193, 0.138);
    width: 92%;
    margin-top: 1rem;
    margin-left: 3.3rem;
    border-radius: .4rem;
}

.container {
    display: flex;
    margin-top: 1.2rem;
    margin-left: 11rem;
    gap: 8rem;
}

.home-discount {
    margin-top: 3.9rem;
}

.home-discount h1 {
    color:  #025402ef;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 40px;
}

.home-discount button {
    width: 27%;
    text-align: center;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.955);
    background-color: #045104;
    font-size: 0.6rem;
    padding: 0.6rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1.7rem;
}

.home-image img {
    width: 43%;
}

.headphones-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.content {
    margin-top: 1rem;
    padding: 0.2rem;
}

.content .price span {
    font-size: .8rem;
    font-weight: 600;
}

.description h2 {
    font-size: 0.8rem;
    color: #002800;
    letter-spacing: .1rem;
    font-weight: 700;
}

.description p {
    font-size: 0.76rem;
    color: #002800;
    font-weight: 600;
    margin-top: .03rem;
}

.reviews {
    margin-top: .27rem;
}

.reviews span {
    font-size: 0.7rem;
    font-weight: 700;
}

.reviews .stars {
    color: #045104;
}

.description button {
    width: 40%;
    text-align: center;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.955);
    background-color: #045104;
    font-size: 0.6rem;
    padding: 0.6rem;
    border-radius: 1.4rem;
    cursor: pointer;
    margin-top: .6rem;
}

.headphones-container .Image-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1rem;
}

.headphones-container .Image-cards .image {
    width: 99%;
    height: 33vh;
    padding: 1rem;
    border-radius: 0.2rem;
    background: rgba(211, 211, 211, 0.22);
    overflow: hidden;
}

.headphones-container .Image-cards .image > img {
    width: 68%;
    margin: 0 auto;
}

/* checkout page */

.checkout-image {
    width: 100px;
    height: auto;
}

.checkout-image img {
    width: 100%;
    object-fit: cover;
}

.stars {
    color: #045104;
    background-color: white;
}

.delete_btn button {
    padding: .5rem;
    color: white;
    background-color: #045104;
    font-size: 0.7rem;
    border-radius: 0.9rem;
    cursor: pointer;
}

.delete_btn button .btn_delete {
    margin-top: 0.15rem;
}


/* login-page */
.logins {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-container {
    width: 350px;
    height: fit-content;
    /* translate: 0 2rem; */
    padding: 1rem;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid lightgray;
}

.login-container > form > h5  {
    margin-bottom: 0.5rem;
}

.login-container > form input[type=text],
.login-container > form input[type=password]{
    height: 30px;
    margin-bottom: 1rem;
    background-color: white;
    width: 98%;
    border: 2px solid rgba(0, 0, 0, 0.837);
    outline: #002800;
    padding: 16px 8px;
}

.signInButton {
    background: #045104;
    border-radius: 0.4rem;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #002800 #045104 #002800dd;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.registerButton {
    border-radius: 0.4rem;
    width: 100%;
    border: 1px solid;
    height: 30px;
    border-color: #002800;
    text-align: center;
}

.login-Text {
  font-size: 2rem;
  color: #045104;
 font-weight: bolder;
  margin-top: 2rem;
  margin-left: 36.8rem;
  object-fit: contain;
}

